<!DOCTYPE html>
<html>
<head>
  <title>AdminInvitable</title>
  <%= stylesheet_link_tag    "admin_invitable/application", media: "all" %>
  <%= javascript_include_tag "admin_invitable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
