<div class="invitation">
  <h1>Admin Invitable Example</h1>
  <p>Don't be shy, try to invite some users :)</p>
  <%= form_tag(home_invite_path) do -%>
    <div><%= email_field_tag 'email', '', placeholder: 'Enter email...' %></div>
    <div><%= submit_tag 'Invite!' %></div>
  <% end -%>
<div>
